* {
    margin: 0;
}

body {
    background-color: antiquewhite;
}

.pionsExemple {
    margin: 0 3px;
    display: inline-block;
    height: 25px;
    width: 25px;
    background-color: antiquewhite;
    pointer-events: none;
}

.rouge {
    background-color: red !important;
    color: red !important;
}

.bleu {
    background-color: blue !important;
    color: blue !important;
}

.jaune {
    background-color: yellow !important;
    color: yellow !important;
}

.vert {
    background-color: green !important;
    color: green !important;
}

.rose {
    background-color: pink !important;
    color: pink !important;
}

.violet {
    background-color: purple !important;
    color: purple !important;
}

.blanc {
    background-color: white !important;
    color: white !important;
    transition: 1s;
}
.rougeVerif{
    background-color: red !important;
    color: red !important;
    transition: 1s;
}

#rowBtn {
    display: none;
}

.btnCouleur {
    display: inline-block;
    width: 40px;
    height: 40px;
    scale: 0.8;
    margin: 0 5px;

    &:hover {
        scale: 1.2;

    }
}

.btnVide {
    display: block;
    width: 50px;
    height: 50px;
    background-color: whitesmoke;
    pointer-events: none;
}

.btnVideRes {
    display: inline;
    margin: auto 0;
    padding: 0;
    width: 25px;
    height: 25px;
    scale: 0.8;
    background-color: gray;
    pointer-events: none;
}